In [ ]:
x = input()
print(x)

hello
hello

In [ ]:
str = input("How old are you:")
print(str,'years old')

How old are you:19
19 years old

In [ ]:
x = int(input('number ; '))
print(x)

number ; 123
123

In [ ]:
x = float(input('number ; '))
print(x)

In [ ]:
year = input ("This year: ")
print(year)
year = eval(year)
year+=1
print("Next year: ", year)

This year: 2024
2024
Next year:  2025

In [ ]:
i = 0
result = 0
while i < 5:
  a =  input("성적 입력 : ")
  result += int(a)
  i += 1

print(f'평균 : {result / 5}')

성적 입력 : 95
성적 입력 : 86
성적 입력 : 58
성적 입력 : 90
성적 입력 : 86
평균 : 83.0

In [ ]:
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

one
two
three

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
result = 0
for a in range(1,101):
  result += a

print(result)

5050

In [ ]:
index = 0
s = "BlockDMask"
for a in s :
  if a == 'k':
    break

  index+=1

print(index)

4

In [ ]:
result = 0
for a in range(1,101):
  result += a

  if result > 100:
    print(a)
    break

14

In [ ]:
student = [180, 170, 164, 199, 182, 172, 177]
for a in student:
  if a>170:
    continue
  print(a)

170
164

In [ ]:
result = 0
for a in range(1,101):
  if a % 2 == 1:
    result += a

print(result)

2500

In [ ]:
a = ['Alice','Bob','Charlie']

for name in a:
  print(name)
else:
  print('!!FINISH!!')

Alice
Bob
Charlie
!!FINISH!!

In [ ]:
a = ['Alice','Bob','Charlie']

for name in a:
  if name == 'Bob':
    print('!!BREAK!!')
    break
  print(name)
else:
  print('!!FINISH!!')

Alice
!!BREAK!!

In [ ]:
sr = ['father', 'mother', 'brother']
cnt = 0
for s in sr:
  for c in s:
    if c == 'r':
      cnt += 1

print(cnt)

4

In [ ]:
a = []
for i in range(10):
  a.append(0)

print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
a = []

for i in range(3):
  line = []
  for j in range(2):
    line.append(0)
  a.append(line)

print(a)

[[0, 0], [0, 0], [0, 0]]

In [ ]:
print(list(range(0,10,3)))

[0, 3, 6, 9]

In [ ]:
print(list(range(10,0,-3)))

[10, 7, 4, 1]

In [ ]:
for i in range(10, 0, -3):
  print(i)

10
7
4
1

In [ ]:
a = ['Alice','Bob','Charlie']

for name in a:
  print(name)

for i, name in enumerate(a):
  print(i, name)

Alice
Bob
Charlie
0 Alice
1 Bob
2 Charlie